<ion-content>
  <form class="setter-content" (ngSubmit)="resetPassword()" [formGroup]="form">
    <div class="input-group">
      <ion-item>
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
      </ion-item>
      <div *ngIf="password.errors" class="errors">
        <span *ngIf="password.errors?.required">password is required</span>
      </div>
    </div>
    <div class="input-group">
      <ion-item>
        <ion-input
          type="password"
          placeholder="Re-enter your password"
          formControlName="reEnteredpassword"
        ></ion-input>
      </ion-item>
      <div *ngIf="reEnteredpassword.errors" class="errors">
        <span *ngIf="reEnteredpassword.errors?.required"
          >re-enetering password is required</span
        >
      </div>
    </div>
    <ion-button
      class="login-btn"
      type="submit"
      expand="block"
      [disabled]="!form.valid"
      >Submit</ion-button
    >
    <ion-button
      (click)="routeTo('/login')"
      type="button"
      expand="block"
      color="light"
      fill="clear"
      >login
    </ion-button>
  </form>
</ion-content>
