<ion-content>
  <form class="setter-content" (ngSubmit)="redirectUser()" [formGroup]="form">
    <div class="input-group">
      <ion-item>
        <ion-input
          type="text"
          placeholder="Username"
          formControlName="username"
        ></ion-input>
      </ion-item>
      <div *ngIf="username.errors" class="errors">
        <span *ngIf="username.errors?.required">Email is required</span>
      </div>
    </div>
    <ion-button
      class="login-btn"
      type="submit"
      expand="block"
      [disabled]="!form.valid"
      >Submit</ion-button
    >
    <ion-button
      (click)="routeTo('/login')"
      type="button"
      expand="block"
      color="light"
      fill="clear"
      >login
    </ion-button>
  </form>
</ion-content>
